In [1]:
import pandas as pd

# Series

In [3]:
data = [1,2,3,4,5]

In [4]:
serie=pd.Series(data)

In [5]:
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
index1=['Linha' + str(i) for i in range(5)]

In [10]:
index1

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [11]:
serie = pd.Series(data=data,index=index1)

In [12]:
serie

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [13]:
data = {'Linha'+ str(i) : i + 1 for i in range (5)}

In [14]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [17]:
serie = pd.Series(data)
serie

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [19]:
serie1 = serie + 2
serie1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

somando 2

In [20]:
serie2= serie1 + serie
serie2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

# DataFrame

In [23]:
data=[[1,2,3],[4,5,6],[7,8,9]]

In [24]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [25]:
data_frame1=pd.DataFrame(data=data)

In [26]:
data_frame1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [33]:
index=['Linha_'+ str(i) for i in range (3)]

In [34]:
index

['Linha_0', 'Linha_1', 'Linha_2']

In [35]:
data_frame1=pd.DataFrame(data=data, index=index)

In [36]:
data_frame1

         0  1  2
Linha_0  1  2  3
Linha_1  4  5  6
Linha_2  7  8  9

In [38]:
columns=['Coluna_'+ str(i) for i in range (3)]
columns

['Coluna_0', 'Coluna_1', 'Coluna_2']

In [46]:
data_frame1=pd.DataFrame(data=data, index=index, columns=columns)

In [47]:
data_frame1

         Coluna_0  Coluna_1  Coluna_2
Linha_0         1         2         3
Linha_1         4         5         6
Linha_2         7         8         9

In [48]:
data=[(1,2,3),(4,5,6),(7,8,9)]

In [49]:
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [50]:
data_frame2=pd.DataFrame(data=data, index=index, columns=columns)

In [51]:
data_frame2

         Coluna_0  Coluna_1  Coluna_2
Linha_0         1         2         3
Linha_1         4         5         6
Linha_2         7         8         9

In [53]:
data_frame1[data_frame1>0]='A'
data_frame1

        Coluna_0 Coluna_1 Coluna_2
Linha_0        A        A        A
Linha_1        A        A        A
Linha_2        A        A        A

In [54]:
data_frame2[data_frame2>0]= 'B'

In [58]:
data_frame2

        Coluna_0 Coluna_1 Coluna_2
Linha_0        B        B        B
Linha_1        B        B        B
Linha_2        B        B        B

In [59]:
data_frame3=pd.DataFrame(data=data, index=index, columns=columns)

In [60]:
data_frame3[data_frame3>0]='C'

In [62]:
data_frame3

        Coluna_0 Coluna_1 Coluna_2
Linha_0        C        C        C
Linha_1        C        C        C
Linha_2        C        C        C

In [63]:
data_frame4=pd.concat([data_frame1,data_frame2,data_frame3])

In [64]:
data_frame4

        Coluna_0 Coluna_1 Coluna_2
Linha_0        A        A        A
Linha_1        A        A        A
Linha_2        A        A        A
Linha_0        B        B        B
Linha_1        B        B        B
Linha_2        B        B        B
Linha_0        C        C        C
Linha_1        C        C        C
Linha_2        C        C        C

### Exercício de criação de um dataFrame

In [65]:
df1=pd.DataFrame({'A': {'X':1},'B':{'X':2}})
df2=pd.DataFrame({'C': {'X':1},'D':{'X':2}})
pd.concat([df1,df2])

c:\users\saras\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  1.0  2.0

In [68]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [69]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [72]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4