In [0]:
import pandas as pd
import numpy as np

# Análise III

In [3]:
dados = pd.read_csv('aluguel.csv', sep=';')
dados.head(5)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN

[5 rows x 9 columns]

In [5]:
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [0]:
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']

In [7]:
dados.head(5)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN

[5 rows x 9 columns]

In [13]:
selecao = dados['Tipo'].isin(residencial)
selecao.head(5)

0     True
1     True
2    False
3     True
4     True
Name: Tipo, dtype: bool

In [0]:
dados_residencial = dados[selecao]

In [15]:
dados_residencial

                     Tipo                    Bairro  ...  Condominio    IPTU
0               Quitinete                Copacabana  ...       500.0    60.0
1                    Casa           Jardim Botânico  ...         NaN     NaN
3             Apartamento                    Centro  ...       390.0    20.0
4             Apartamento              Higienópolis  ...       230.0     NaN
5             Apartamento              Vista Alegre  ...         NaN     NaN
6             Apartamento                  Cachambi  ...       301.0    17.0
7      Casa de Condomínio           Barra da Tijuca  ...         NaN     NaN
8      Casa de Condomínio                     Ramos  ...         NaN     NaN
10            Apartamento                    Centro  ...         NaN     NaN
11            Apartamento                    Grajaú  ...       642.0    74.0
12            Apartamento       Lins de Vasconcelos  ...       455.0    14.0
13            Apartamento                Copacabana  ...       561.0    50.0
14              Quitinete                Copacabana  ...       501.0     NaN
15            Apartamento                Copacabana  ...      2000.0   803.0
18     Casa de Condomínio                   Taquara  ...         NaN     NaN
19            Apartamento   Freguesia (Jacarepaguá)  ...       300.0    28.0
20            Apartamento           Barra da Tijuca  ...       589.0   147.0
21            Apartamento                    Tijuca  ...       700.0   138.0
22     Casa de Condomínio           Barra da Tijuca  ...      2695.0     NaN
23            Apartamento                    Olaria  ...       670.0     NaN
24            Apartamento                    Tijuca  ...       700.0     NaN
27            Apartamento                   Ipanema  ...      2100.0   463.0
28            Apartamento                    Tijuca  ...       772.0    25.0
30            Apartamento           Barra da Tijuca  ...      1500.0   500.0
31                   Casa              Campo Grande  ...         NaN     NaN
32            Apartamento                  Botafogo  ...       740.0     NaN
33            Apartamento                Copacabana  ...      2150.0   700.0
34            Apartamento                Copacabana  ...      1780.0   420.0
36            Apartamento  Recreio dos Bandeirantes  ...       648.0     NaN
37            Apartamento                    Leblon  ...      1500.0   120.0
...                   ...                       ...  ...         ...     ...
32918         Apartamento                   Ipanema  ...       630.0    19.0
32919         Apartamento  Recreio dos Bandeirantes  ...       650.0  1864.0
32920         Apartamento           Jardim Botânico  ...      1296.0   317.0
32921         Apartamento  Recreio dos Bandeirantes  ...       482.0   166.0
32922         Apartamento           Barra da Tijuca  ...       945.0   180.0
32924  Casa de Condomínio           Barra da Tijuca  ...      3000.0     NaN
32925         Apartamento                  Campinho  ...       392.0     NaN
32930         Apartamento   Freguesia (Jacarepaguá)  ...       900.0   148.0
32931                Casa                    Centro  ...         NaN    80.0
32932         Apartamento           Todos os Santos  ...       289.0    35.0
32933         Apartamento  Recreio dos Bandeirantes  ...       648.0   156.0
32934         Apartamento               Jacarepaguá  ...       790.0   180.0
32935         Apartamento                    Leblon  ...      1730.0   259.0
32936         Apartamento                Copacabana  ...       700.0    90.0
32938         Apartamento                Copacabana  ...       450.0    70.0
32940         Apartamento           Barra da Tijuca  ...      1561.0   197.0
32941         Apartamento           Barra da Tijuca  ...       887.0   177.0
32943         Apartamento           Barra da Tijuca  ...      1900.0   700.0
32944         Apartamento  Recreio dos Bandeirantes  ...       790.0     NaN
32945           Quitinete                Copacabana  ...       286.0   200.0
32947         Apartamento                    Leblon  ...      1010.0   249.0
32949         Apartamento                   Ipanema  ...      1400.0   600.0
32950         Apartamento                    Tijuca  ...       360.0    25.0
32951         Apartamento            Vila Valqueire  ...       550.0     NaN
32952  Casa de Condomínio           Barra da Tijuca  ...      1711.0  2332.0
32953         Apartamento                     Méier  ...       490.0    48.0
32955           Quitinete                    Centro  ...       350.0    25.0
32956         Apartamento               Jacarepaguá  ...       800.0    40.0
32957         Apartamento      São Francisco Xavier  ...       509.0    37.0
32958         Apartamento                    Leblon  ...       760.0     NaN

[22580 rows x 9 columns]

In [17]:
list(dados_residencial['Tipo'].drop_duplicates())

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [18]:
dados_residencial.shape[0]

22580

In [20]:
dados_residencial.index=range(dados_residencial.shape[0])
dados_residencial

                     Tipo                    Bairro  ...  Condominio    IPTU
0               Quitinete                Copacabana  ...       500.0    60.0
1                    Casa           Jardim Botânico  ...         NaN     NaN
2             Apartamento                    Centro  ...       390.0    20.0
3             Apartamento              Higienópolis  ...       230.0     NaN
4             Apartamento              Vista Alegre  ...         NaN     NaN
5             Apartamento                  Cachambi  ...       301.0    17.0
6      Casa de Condomínio           Barra da Tijuca  ...         NaN     NaN
7      Casa de Condomínio                     Ramos  ...         NaN     NaN
8             Apartamento                    Centro  ...         NaN     NaN
9             Apartamento                    Grajaú  ...       642.0    74.0
10            Apartamento       Lins de Vasconcelos  ...       455.0    14.0
11            Apartamento                Copacabana  ...       561.0    50.0
12              Quitinete                Copacabana  ...       501.0     NaN
13            Apartamento                Copacabana  ...      2000.0   803.0
14     Casa de Condomínio                   Taquara  ...         NaN     NaN
15            Apartamento   Freguesia (Jacarepaguá)  ...       300.0    28.0
16            Apartamento           Barra da Tijuca  ...       589.0   147.0
17            Apartamento                    Tijuca  ...       700.0   138.0
18     Casa de Condomínio           Barra da Tijuca  ...      2695.0     NaN
19            Apartamento                    Olaria  ...       670.0     NaN
20            Apartamento                    Tijuca  ...       700.0     NaN
21            Apartamento                   Ipanema  ...      2100.0   463.0
22            Apartamento                    Tijuca  ...       772.0    25.0
23            Apartamento           Barra da Tijuca  ...      1500.0   500.0
24                   Casa              Campo Grande  ...         NaN     NaN
25            Apartamento                  Botafogo  ...       740.0     NaN
26            Apartamento                Copacabana  ...      2150.0   700.0
27            Apartamento                Copacabana  ...      1780.0   420.0
28            Apartamento  Recreio dos Bandeirantes  ...       648.0     NaN
29            Apartamento                    Leblon  ...      1500.0   120.0
...                   ...                       ...  ...         ...     ...
22550         Apartamento                   Ipanema  ...       630.0    19.0
22551         Apartamento  Recreio dos Bandeirantes  ...       650.0  1864.0
22552         Apartamento           Jardim Botânico  ...      1296.0   317.0
22553         Apartamento  Recreio dos Bandeirantes  ...       482.0   166.0
22554         Apartamento           Barra da Tijuca  ...       945.0   180.0
22555  Casa de Condomínio           Barra da Tijuca  ...      3000.0     NaN
22556         Apartamento                  Campinho  ...       392.0     NaN
22557         Apartamento   Freguesia (Jacarepaguá)  ...       900.0   148.0
22558                Casa                    Centro  ...         NaN    80.0
22559         Apartamento           Todos os Santos  ...       289.0    35.0
22560         Apartamento  Recreio dos Bandeirantes  ...       648.0   156.0
22561         Apartamento               Jacarepaguá  ...       790.0   180.0
22562         Apartamento                    Leblon  ...      1730.0   259.0
22563         Apartamento                Copacabana  ...       700.0    90.0
22564         Apartamento                Copacabana  ...       450.0    70.0
22565         Apartamento           Barra da Tijuca  ...      1561.0   197.0
22566         Apartamento           Barra da Tijuca  ...       887.0   177.0
22567         Apartamento           Barra da Tijuca  ...      1900.0   700.0
22568         Apartamento  Recreio dos Bandeirantes  ...       790.0     NaN
22569           Quitinete                Copacabana  ...       286.0   200.0
22570         Apartamento                    Leblon  ...      1010.0   249.0
22571         Apartamento                   Ipanema  ...      1400.0   600.0
22572         Apartamento                    Tijuca  ...       360.0    25.0
22573         Apartamento            Vila Valqueire  ...       550.0     NaN
22574  Casa de Condomínio           Barra da Tijuca  ...      1711.0  2332.0
22575         Apartamento                     Méier  ...       490.0    48.0
22576           Quitinete                    Centro  ...       350.0    25.0
22577         Apartamento               Jacarepaguá  ...       800.0    40.0
22578         Apartamento      São Francisco Xavier  ...       509.0    37.0
22579         Apartamento                    Leblon  ...       760.0     NaN

[22580 rows x 9 columns]

## Exportando Base de dados

In [0]:
dados_residencial.to_csv('aluguel_residencial.csv', sep=";")